@import '../../styles/includes';
@import './ButtonMixins';

.Button_variant_base {
  position: relative;
  padding: 0;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  border-radius: 0;
  vertical-align: middle;
  color: inherit;
  text-decoration: none;
  text-align: center;
  user-select: none;
  appearance: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  font-family: $font-family-base;
  font-weight: normal;

  &.disabled,
  &:disabled {
    cursor: auto;
    pointer-events: none;
  }
}

/* VARIANTS */
.Button_variant_primary,
.Button_variant_secondary {
  @extend .Button_variant_base;
  @include btnAnimation;
  font-weight: 700;
}

.Button_variant_primary {
  border-style: solid;
  border-color: transparent;
  @include btnSize('primary');
}

.Button_variant_secondary {
  @extend .Button_variant_base;
  @include btnSize('secondary');
}

.Button_variant_text {
  @extend .Button_variant_base;
  &.Button {
    @extend %btnSecondaryColorPrimary;
  }
  justify-content: flex-start;
  text-align: left;
  vertical-align: baseline;
  @extend %btnTransition;
}

.Button_fw_normal {
  font-weight: normal;
}

.Button_fw_bold {
  font-weight: bold;
}

/* COLOR VARIANTS */
.Button_variant_primary {
  &.Button_color_primary {
    @extend %btnPrimaryColorPrimary;
  }

  &.Button_color_primaryInverse {
    @extend %btnPrimaryColorPrimaryInverse;
  }

  &.Button_color_accent {
    @extend %btnPrimaryColorAccent;
  }

  &.Button_color_outline {
    @extend %btnPrimaryColorOutline;
  }

  &.Button_color_outlineInverse {
    @extend %btnPrimaryColorOutlineInverse;
  }

  &.Button_color_light {
    @extend %btnPrimaryColorLight;
  }
}

.Button_variant_secondary {
  &.Button_color_primary {
    @extend %btnSecondaryColorPrimary;
  }
}

/* LABEL */
.Button_noLabel {
  .Button__Label {
    display: none;
  }
}

@each $breakpoint, $interval in $display-breakpoints-intervals {
  @media (min-width: nth($interval, 1)) and (max-width: nth($interval, -1)) {
    .Button_noLabel_#{$breakpoint} {
      .Button__Label {
        display: none;
      }
    }
  }
}

/* ICON */
.Button__Icon {
  font-size: 1.5em;

  &:first-child:not(:only-child) {
    margin-right: 8px;
    margin-left: -8px;
  }

  &:last-child:not(:only-child) {
    margin-left: 8px;
    margin-right: -8px;
  }

  svg {
    @extend %btnIconTransition;
  }
}

.Button_noLabel {
  .Button__Icon {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@each $breakpoint, $interval in $display-breakpoints-intervals {
  @media (min-width: nth($interval, 1)) and (max-width: nth($interval, -1)) {
    .Button_noLabel_#{$breakpoint} {
      .Button__Icon {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}
