$duration-default: 300ms !default;
$duration-slower: 1000ms !default;
$duration-slow: 500ms !default;
$duration-medium: 400ms !default;
$duration-fast: 200ms !default;
$duration-faster: 100ms !default;
$duration-paused: 3200ms !default;
