$zIndexHeader: 100;
$zIndexMobileMenu: 100;
$zIndexModal: $zIndexHeader + 1;
$zIndexNotification: $zIndexModal + 1;
$zIndexBottomFixedPanel: $zIndexHeader;
$zIndexSpinner: $zIndexModal + 1;
$zIndexDropdown: 5;
