.title {
  font-style: normal;
  font-weight: bold;
  color: $c-tertiary;
  margin-top: 0;
  margin-bottom: 0;

  &--fw-400 {
    font-weight: 400;
  }

  &--1 {
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 54px;
    @media (width >= $media-s) {
      padding-top: 40px;
      padding-bottom: 20px;
      font-size: 50px;
      line-height: 70px;
    }
    @media (width >= $media-l) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 70px;
      line-height: 90px;
    }
  }

  &--2 {
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 32px;
    line-height: 48px;
    @media (width >= $media-s) {
      font-size: 40px;
      line-height: 54px;
    }
    @media (width >= $media-l) {
      padding-top: 40px;
      padding-bottom: 20px;
      font-size: 50px;
      line-height: 70px;
    }
  }

  &--3 {
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 28px;
    line-height: 42px;
    @media (width >= $media-s) {
      font-size: 32px;
      line-height: 48px;
    }
    @media (width >= $media-l) {
      font-size: 40px;
      line-height: 54px;
    }
  }

  &--4 {
    padding-top: 24px;
    padding-bottom: 12px;
    font-size: 24px;
    line-height: 36px;
    @media (width >= $media-s) {
      padding-top: 32px;
      padding-bottom: 16px;
      font-size: 28px;
      line-height: 42px;
    }
    @media (width >= $media-l) {
      font-size: 32px;
      line-height: 48px;
    }
  }

  &--5 {
    padding-top: 20px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 30px;
    @media (width >= $media-s) {
      padding-top: 24px;
      padding-bottom: 12px;
      font-size: 24px;
      line-height: 36px;
    }
    @media (width >= $media-l) {
      padding-top: 32px;
      padding-bottom: 16px;
      font-size: 28px;
      line-height: 42px;
    }
  }

  &--t-0 {
    padding-top: 0;
  }

  &--b-0 {
    padding-bottom: 0;
  }

  &--nop {
    padding-top: 0;
    padding-bottom: 0;
  }
}
