@import "styles/includes/index.scss";

.row {
  display: flex;
  padding: 12px 16px;
  border: 1px solid $c-quaternary;
  border-radius: 8px;
  margin-bottom: 24px;
  flex-direction: column;

  @include atMedium {
    padding: 8px 16px;
    flex-direction: row;
  }
  @include atLarge {
    padding: 8px 32px;
  }
}
.innerRow {
  display: flex;
  flex-direction: column;

  &_statusPrice {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    flex: 1;

    @include atSmall {
      padding-bottom: 0;
    }
  }

  @include atSmall {
    flex-direction: row;
    align-items: center;
  }

  @include atMedium {
    &_first {
      width: 67.2%;
    }
    &_second {
      width: 32.8%;
    }
  }

  @include atLarge {
    &_first {
      width: 65%;
    }
    &_second {
      width: 35%;
    }
  }
}

.col {
  display: flex;
  padding: 8px 0;
  box-sizing: border-box;

  &_status {
    padding: 0;
    margin-right: 6px;
    max-width: 120px;
  }
  &_price {
    text-align: right;
  }

  @include atSmall {
    flex-direction: column;
    border-right: 1px solid $c-quaternary;
    padding: 0 24px;

    &_withoutBorder {
      border: none;
    }

    &_id {
      width: 14.2%;
      padding-left: 0;
    }
    &_site {
      width: 10.8%;
    }
    &_type {
      width: 22.9%;
    }
    &_dates {
      width: 28.2%;
    }
    &_name {
      width: 24.1%;
      border-right: none;
    }
    &_phoneNumber {
      width: 27.9%;
    }
    &_email {
      width: 31.6%;
    }
    &_rig {
      width: 8.8%;
      border-right: none;
    }
    &_status {
      padding: 0;
      margin: 0 6px;
      border-right: none;
    }
    &_price {
      flex: 1;
      border-right: none;
    }
  }

  @include atMedium {
    align-items: center;
    flex-direction: row;
    padding: 0 16px;

    &_id {
      width: 10.8%;
      padding-left: 0;
    }
    &_site {
      width: 8.6%;
    }
    &_type {
      width: 23.4%;
    }
    &_dates {
      width: 31%;
    }
    &_name {
      width: 28.1%;
    }
    &_phoneNumber {
      width: 18px;
      border-right: none;
      padding: 0;
      margin-right: 8px;
    }
    &_email {
      width: 18px;
      border-right: none;
      padding: 0;
      margin-right: 8px;
    }
    &_rig {
      width: 18px;
      border-right: none;
      padding: 0;
      margin-right: 8px;
    }
    &_status {
      padding: 0;
    }
    &_price {
      padding: 0;
      justify-content: flex-end;
    }
  }

  @include atLarge {
    &_rig {
      width: 37%;
    }
    &_price {
      width: 80px;
    }
  }
}

.label {
  color: $c-tertiary-light;
  width: 106px;

  @include atSmall {
    padding-top: 8px;

    &_phoneNumber {
      display: none;
    }
    &_email {
      display: none;
    }
    &_rig {
      display: none;
    }
  }
  @include atMedium {
    display: none;
  }
}

.valueWrapper {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $c-tertiary;

  &_name,
  &_phoneNumber,
  &_email {
    color: $c-primary !important;
  }

  &_price {
    text-align: right;
  }

  @include atSmall {
    padding: 8px 0;

    &_rig {
      display: none;
    }
  }

  @include atMedium {
    &_phoneNumber,
    &_email,
    &_rig {
      display: none;
    }
  }

  @include atLarge {
    &_rig {
      display: block;
    }
  }
}

.icon {
  margin-right: 8px;

  @include atLarge {
    &_rig {
      display: none;
    }
  }
}

.reservationStatus {
  text-align: center;
  border-radius: 4px;
  color: $c-white !important;
  background-color: $c-status-default;
  text-transform: uppercase;
  margin: 8px 0;
  padding: 0 8px !important;

  &_paid,
  &_confirmed {
    background-color: $c-status-success;
  }
  &_canceled {
    background-color: $c-status-default;
  }
  &_unpaid {
    background-color: $c-status-warning;
  }
  &_blocked {
    background-color: $c-status-error;
  }
}

.dividerMobile {
  margin: 24px 0;
  @include atSmall {
    display: none;
  }
}
.dividerLaptop {
  margin: 12px 0;
  @include atSmall {
    margin: 8px 0;
  }
  @include atMedium {
    display: none;
  }
}
